# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

proc_err-*
proc_out-*

# build artifacts

Makefile.in
Makefile
*.log
.deps
*.m4
autom4te.cache
*.pid
modbus/config.*
stamp-h1
compile

#binaries

worker
broker
modbusd
modbus_fastcgi
